<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">

    <div class="login-content">
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/layout/images/Logo_simplificado_transparente_80h.png" alt="mirage-layout" />
                </div>
                <h1>Registrar usuario</h1>
                <p>Complete los datos para su registro</p>

                <form class="forms" [formGroup]="registerForm" (ngSubmit)="submit()">
                    <!-- Nombres y Apellidos -->
                    <div fxLayout="row">
                        <div [ngClass]="{'invalid': name.invalid && (name.dirty || name.touched), 'valid': name.valid}">
                            <small><span *ngIf="name.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="name.hasError('minlength')" class="text-danger">Mínimo 6 caracteres </span></small>
                            <small><span *ngIf="name.hasError('maxlength')" class="text-danger">Máximo 100 caracteres </span></small>
                        </div> 
                        <div class="login-input-wrapper">
                            <input type="text" formControlName="name" pInputText id="name" placeholder="Nombres y Apellidos">
                            <i class="pi pi-user"></i>
                        </div>
                    </div>   

                    <!-- Email -->
                    <div fxLayout="row">
                        <div [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched), 'valid': email.valid}">
                            <small><span *ngIf="email.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="email.hasError('email')" class="text-danger">Ingrese un email válido </span></small>
                            <small><span *ngIf="email.hasError('minlength')" class="text-danger">Mínimo 6 caracteres </span></small>
                            <small><span *ngIf="email.hasError('maxlength')" class="text-danger">Máximo 100 caracteres </span></small>
                        </div>
                        <div class="login-input-wrapper">
                            <input type="email" formControlName="email" pInputText id="email" placeholder="Correo / email">
                            <i class="pi pi-at"></i>
                        </div>
                    </div>

                    <!-- Teléfono -->
                    <div fxLayout="row">
                        <div class="login-input-wrapper">
                            <input type="text" formControlName="phone" pInputText id="phone" placeholder="Teléfono">
                            <i class="pi pi-building"></i>
                        </div>                  
                    </div>

                    <!-- Contraseña -->
                    <div fxLayout="row">
                        <div [ngClass]="{'invalid': usr_password.invalid && (usr_password.dirty || usr_password.touched), 'valid': usr_password.valid}">
                            <small><span *ngIf="usr_password.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="usr_password.hasError('maxlength')" class="text-danger">Máximo 200 caracteres </span></small>
                        </div>                         
                        <div class="login-input-wrapper">
                            <input type="password" formControlName="usr_password" pInputText id="usr_password" placeholder="Contraseña">
                            <i class="pi pi-key"></i>
                        </div>  
                    </div>

                    <!-- Confirmar Contraseña -->
                    <div fxLayout="row">
                        <div [ngClass]="{'invalid': usr_password_confirm.invalid && (usr_password_confirm.dirty || usr_password_confirm.touched), 'valid': usr_password_confirm.valid}">
                            <small><span *ngIf="usr_password_confirm.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="usr_password_confirm.hasError('maxlength')" class="text-danger">Máximo 200 caracteres </span></small>
                        </div>                         
                        <div class="login-input-wrapper">
                            <input type="password" formControlName="usr_password_confirm" pInputText id="usr_password_confirm" placeholder="Confirmar Contraseña">
                            <i class="pi pi-key"></i>
                        </div>  
                    </div>

                    <!-- Botones -->
                    <div class="buttons">
                        <button pButton type="submit" class="btn font-weight-semibold" [disabled]="registerForm.valid">Registrar</button>
                        <a href="#/login" class="secondary-button">Inicia sesión Aquí</a>
                    </div>
                </form>                
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
