<div class="grid layout-dashboard">
    <div class="col-12 lg:col-12 ">
        <div class="grid flex-column grid-nogutter">
             <div class="col-12 widget-news">
                <div class="news-row" [ngStyle]="{'transform': activeNews === 1 ? 'translate3d(0px, 0px, 0px)':activeNews === 2
                ?'translate3d(-100%, 0px, 0px)':'translate3d(-200%, 0px, 0px)'}">
                     <div class="card news news-2 active-news">
                        <div class="news-title">
                            <h5>INFO</h5>
                        </div>
                        <h6>Acerca de City Alert</h6>
                        <p style="text-align: justify;">Plataforma para reporte de lugares situaciones o incidentes donde los ciudadanos pueden convertirse en parte activa de el mejoramiento de nuestra ciudad.</p><br />
                            <div class="grid link">
                                <div class="col-9">
                                    <a href="https://hidrogenocolombia.com" target="_blank">
                                        City Alert B
                                    </a>
                                </div>
                            </div>
                    </div> 
                    <div class="link-points">
                        <div class="grid points">
                            <div class="col-4 point point-2 " [ngClass]="{'active-point': activeNews === 2}" (click)="activeNews = 1"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
	<div class="col-12">
		<div class="card widget-store-items">
			<div class="store-cards-container">
				<div class="grid store-cards">
					<div class="col-12 lg:col-6 md:col-6">
                        <div class="store-card">
							<div class="store-card-image">
							</div>						
							<div class="store-card-content">
								<span>Síguenos en nuestras redes sociales y se parte activa del crecimiento de nuestra ciudad</span><h5>#CityAlert</h5>
                                <hr>
                                <div style="text-align: left; padding: 10px;">
                                    <span><i class="pi pi-linkedin"></i> cityAlert</span><br>
                                    <span><i class="pi pi-twitter"></i> cityAlert</span><br><br>
                                    <span><i class="pi pi-linkedin"></i> cityAlert</span><br>
                                    <span><i class="pi pi-twitter"></i> cityAlert</span>
                                    <span></span>	
                                </div>
							</div>
                        </div>
					</div>
											
				</div>
			</div>
		</div>
	</div>	    
</div>
 
