<div class="grid p-fluid">
	<div class="col-12" *ngIf="versponsors0">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Patrocinador oficial</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards" >
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsors0">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-12" *ngIf="versponsorsoro">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Patrocinadores oro</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards">
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsorsoro">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-12" *ngIf="versponsors2">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Patrocinadores plata</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards">
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsors2">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-12" *ngIf="versponsors3">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Otros patrocinadores</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards">
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsors3">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-12" *ngIf="versponsors1">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Aliados estratégicos</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards">
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsors1">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-12" *ngIf="versponsorsaconocimiento">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Aliados del conocimiento</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards">
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsorsAConocimiento">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="col-12" *ngIf="versponsorsacomunicaciones">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Aliado de comunicaciones</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards">
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsorsAComunicaciones">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>				
	<div class="col-12" *ngIf="versponsorsapoya">
		<div class="card widget-store-items">
            <div class="grid grid-nogutter">
                <div class="col-12 title">
                    <h5>Apoya</h5>
                </div>
            </div>			
			<div class="store-cards-container" >
				<div class="grid store-cards">
					<div class="col-6 lg:col-2 md:col-2" *ngFor="let sponsor of listaSponsorsapoya">
                        <div class="store-card" (click)="irAPaginaDestino(sponsor.spo_id)">
							<div class="store-card-image">
								<img src="assets/media/sponsors/{{sponsor.spo_logo}}" alt="mirage-layout" />
							</div>	
                        </div>	
					</div>
				</div>
			</div>
		</div>		
	</div>											
</div>
